#tabla_opciones {background-color: rgb(240,240,240); border-radius: 5px}
body {
  background-image: url("https://previews.123rf.com/images/katrink03/katrink031709/katrink03170900012/85572829-patr%C3%B3n-transparente-de-vector-de-hamburguesas-de-contorno-negro-fondo-para-banner-embalaje-men%C3%BA-.jpg");
  background-size: cover;
  height: 300px;
  font-family: "Lucida Handwriting";
  color: black;
}